body{
	background:#232323;
	margin:0px;
	padding:0px;
	font-size:14px;}
#main{
	display:block;
	/*background:url(../images/index2.jpg) no-repeat center 66px;*/
	text-align:center;
	}
.scenter{
	background:url(../images/index1.gif) repeat-x;
}
.container{
	width:960px;
	padding:0px;
	margin:0 auto;
	}
.header{
	height:66px;
	background:url(../images/index3.png) left no-repeat;}
.content{
	margin-top:0px;
	}
.content .conleft{
	float:left;
	width:275px;
	height:470px;
	background: url(../images/index4.jpg) transparent repeat-x;
	}
.mailbox{
	width:243px;
	height:56px;
	border:1px solid #696969;
	margin-top:70px;
	margin-bottom:5px;
	font-size:22px;
	color:#999999;
	line-height:56px;}
.content .conleft img{
	outline:none;
	cursor:pointer;}
.content .conleft .context{
	text-align:left;
	padding:15px;
	color:#FFF;
	font-size:16px;}
.content .conright{
	float:left;
	width:679px;
	height:471px;
	background:#343537;
	margin-left:6px;
	
	}
.conppt{
	width:655px;
	height:447px;
	margin:12px;
	background:#FFF;}
.seccontent{
	width:958px;
	border:1px solid #cacaca;
	background:#f1f1f1;
	text-align:left;
	padding:0px;
	}
.seccontent img{
	border:1px solid #c5c5c5;
	cursor:pointer;
	outline:none;}
.footer{
	height:70px;
	text-align:left;
	margin-top:15px;}
.footer div{
	padding:20px;
	color:#FFF;
	font-size:14px;}
.brief{
	clear:both;
	padding-left:10px;
	}
.brief ul{
	padding:0px;
	margin:0px;
	padding-left:2px;
	margin:5px 0px 5px 0px;
	}
.brief ul li{
	float:left;
	list-style:none;
	width:232px;
	text-align:center;
	}
.info{
	color:#555;
	width:197px;
	text-align: left;
	margin:5px auto;
	word-wrap: break-word;
	word-break: normal; }
h4{
	padding:0px;
	margin:0px;}
#skin{
	 position:absolute; 
	 top:5px;
	 right:5px;
	 z-index:999;
}
#skin span{
	display:block;
	float:left;
	width:10px;
	height:10px;
	margin:5px;
	background:#06F;
	cursor:pointer;}
	
#submit{
	background: url("../images/index6.gif");
	width: 251px;
	height: 63px;
	border: 0px;
	opacity: 1;
}